@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;800&display=swap');
@import 'variables';

*{
    margin: 0;
    box-shadow: border-box;
}

body {
    background-color: $Dark-Blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.main {
    background-color: $Dark-Grayish-Blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 340px;
    height: 300px;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 50px;
    position: relative;
}

.advice_number {
    color: $Neon-Green;
    font-size: 16px;
    font-family: $Manrope;
    font-weight: 300;
    padding-top: 4px;
}

.advice_content {
    color: $Light-Cyan;
    font-family: $Manrope;
    font-weight: 800;
    font-size: $Font-size-var;
    text-align: center;
}

.image_sep {
    width: 100%;
    height: 16px;
    background-image: url(../../images/pattern-divider-mobile.svg);
    background-position: center;
    margin-bottom: 48px;
}

.image_dado-content {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: $Neon-Green;
    display: flex;
    position: absolute;
    bottom: 20px;
    cursor: pointer;
    border: none;

    &:hover {
        //background: #a945c7;
        box-shadow: 0 0 10px $Neon-Green, 0 0 20px $Neon-Green, 0 0 40px $Neon-Green;
        //transition-delay: 1s;
    }
}

.image_dado {
    width: 24px;
    height: 24px;
    background-image: url(../../images/icon-dice.svg);
    background-position: center;
    margin: auto;
    align-self: center;
}

.all-container {
    display: flex;
    justify-content: center;
    position: relative;
}

// D E S C K O P

@media only screen and (min-width: 1440px) {

    .main {
        width: 480px;
        height: 280px;
    }

    .image_sep {
        background-image: url(../../images/pattern-divider-desktop.svg);
    }

}

