@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
@import 'variables';

body {
    background-color: $Dark-Blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.main {
    background-color: $Dark-Grayish-Blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    border-radius: 15px;
}

.advice_number {
    color: $Neon-Green;
    font-size: 20px;
}

.advice_content {
    color: $Grayish-Blue;
    font-family: $Manrope;
    font-weight: 800;
    font-size: $Font-size-var;
}

.image_sep {

}

.image_dado {

}